// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.item-link{
    cursor: pointer;
}

h1, h2, h3{
    width: 100%;
    text-align: center;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.item-link{
    cursor: pointer;
}

.options-column{
    width: 1%;
    white-space: nowrap;
}


/*Tiles*/
.tile {
    width: 100%;
    text-align: center;
    height: 130px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #fff;
}

.tile > div{
    font-size: 15px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


@media screen and (max-width: 600px) {
    .tile {
        height: 65px;
        /*padding: 40px;*/
    }
}

.tile:hover{
    filter: brightness(120%);
}

.small-tile:hover{
    filter: brightness(120%);
}

.orange{
    background: orange;
}

.blue {
    background: #0275d8;
}

/* Font awesome changes */

.btn-primary, .btn-secondary, .btn-danger {
    color: whitesmoke !important;
    margin: 3px;

}

.center {
    text-align: center;
}

.toggle-grey {
    --toggle-bg-on: lightgrey;
    --toggle-border-on: lightgrey;
  }


